<%= form_for([@random_sentence.student_level, @random_sentence]) do |f| %>
  <% if @random_sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@random_sentence.errors.count, "error") %> prohibited this random_sentence from being saved:</h2>

      <ul>
      <% @random_sentence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_level_id %><br />
    <%= f.number_field :student_level_id %>
  </div>
  <div class="field">
    <%= f.label :sentence %><br />
    <%= f.text_field :sentence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
