<h1>Listing random_sentences</h1>

<table>
  <tr>
    <th>Student level</th>
    <th>Sentence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @random_sentences.each do |random_sentence| %>
  <tr>
    <td><%= random_sentence.student_level_id %></td>
    <td><%= random_sentence.sentence %></td>
    <td><%= link_to 'Show', [random_sentence.student_level, random_sentence] %></td>
    <td><%= link_to 'Edit', edit_student_level_random_sentence_path(random_sentence.student_level, random_sentence) %></td>
    <td><%= link_to 'Destroy', [random_sentence.student_level, random_sentence], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Random sentence', new_student_level_random_sentence_path(params[:student_level_id]) %>
