<%= semantic_form_for mcm_topic do |form| %>
  <% if mcm_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mcm_topic.errors.count, "error") %> prohibited this mcm_topic from being saved:</h2>

      <ul>
      <% mcm_topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic_name %>
    <%= form.text_field :topic_name, id: :mcm_topic_topic_name %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :mcm_topic_user_id, :value => @current_user.id %>
  </div>

  <%= form.fields_for :sentence_scores do |sentence_score_form| %>
        <%= render 'sentence_score_fields', :f => sentence_score_form %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add Sentence', form, :sentence_scores %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  