<div class='nested-fields'>
    <div class="field">
      <%= f.label :score %>
      <%= f.text_field :score %>
    </div>
    <div class="field">
      <%= f.text_field :sentence %>
      <%= f.label :sentence %>
    </div>
    <%= link_to_remove_association "remove sentence", f %>
  </div>

