<p id="notice"><%= notice %></p>

<p>
  <strong>Topic name:</strong>
  <%= @mcm_topic.topic_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @mcm_topic.user_id %>
</p>

<%= link_to 'Edit', edit_mcm_topic_path(@mcm_topic) %> |
<%= link_to 'Back', mcm_topics_path %>
